@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/awesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fonts/awesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('fonts/awesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('fonts/awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* -----------------------------------
 TIMELINE FLAT PORTFOLIO 
 ---------------------------------- */

.timelineFlat.timelineFlatPortfolio .item .read_more {
	margin-top:20px;
}

.timelineFlat.timelineFlatPortfolio .item,
.timelineFlat.timelineFlatPortfolio .item_open {
	height: 427px;
}

/* -----------------------------------
 TIMELINE FLAT BLOG 
 ---------------------------------- */
.timelineFlat.timelineFlatBlog .item,
.timelineFlat.timelineFlatBlog .item_open {
	height: 338px;
}

.timelineFlat.timelineFlatBlog .item .post_date {
	font-family: Montserrat;
	background: #dd5555;
	color: #ffffff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: -34px 18px 0 0;
	float: right;
	position: relative;
	z-index: 2;
}

.timelineFlat.timelineFlatBlog .item .post_date span {
	display: block;
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}


/* -----------------------------------
 TIMELINE FLAT BASE DESIGN
 ---------------------------------- */

.timelineFlat {
	display:none;
}
.timelineLoader {
	width:100%;
	text-align:center;
	padding:150px 0;
}


/* fixed line holder */
.timelineFlat .timeline_line {
	margin-top:10px;
	margin-bottom:10px;
	width:1050px;
}

/* full (including months that are not shown) line holder */
.timelineFlat .t_line_holder {
	padding: 10px 0 0 0;
	height:80px;
/*	background:url('../images/timeline/light/line.jpg') repeat-x 0px 49px;
*/

/*0628_MOD*/
	padding-top:200px;
	background-position: bottom;

}
/*0628_MOD*/
.timelineFlat .t_line_holder:after {
	content:"";
	background:url('../images/timeline/light/line.jpg') repeat-x 0px 49px;
	display:block;
	width:100%; height:10px;
	position:absolute;
	bottom:-100px; left:0;
	z-index:200;
}

/* 2 months are stored in one view */
.timelineFlat .t_line_view {
	height:20px;
	width:1050px;
}



/* holder for 1 month (constist of nodes and month caption) - we use borders to separate months thats why it has width 2px less then 50% */
.timelineFlat .t_line_m {
	margin-top:35px;
	height:10px;
	border-left:1px solid transparent;
	border-right:1px solid #b7b6b6;
	width:448px;

	/*MOD_0713: remove markings between months */
	border-right:1px solid transparent !important;
}

/* month on the right side - has left set at 459 so border would overlap border from first element (to evade duplicated borders) */
.timelineFlat .t_line_m.right {
	left:449px;
	width:449px;
	border-left:1px solid #b7b6b6;
	border-right:1px solid transparent;

	/*MOD_0713: remove markings between months */
	border-left:1px solid transparent !important;
}

/* month caption */
.timelineFlat h4.t_line_month {
	font-family: Montserrat;
	font-size: 12px;
	margin:-30px 0 0;
	color:#b7b6b6;
}


/* node on the timeline */
.timelineFlat a.t_line_node {
	text-decoration:none;
	padding:38px 0 4px;
	font-family: Montserrat;
	height:10px;
	font-size:12px;
	top:-25px;
	position: relative;
	color:#b7b6b6;
}
.timelineFlat a.t_line_node:after {
	content: "";
	border-radius: 22px;
	height: 10px;
	width: 10px;
	border: 2px solid #ffffff;
	position: absolute;
	top: 23px;
	left: 50%;
	margin: 0 0 0 -7px;
	background:#dd5555;

	/*MOD_0710*/
/*	width:8px; height:8px;
	left:53%;*/
	background-color: #c6c6c6;
	z-index:4;
}



.timelineFlat a.t_line_node.active {
	color:#dd5555;
}

.timelineFlat a.t_line_node.active:after {
	border: 2px solid #b7b6b6;
	/*MOD_0710*/
	border: 3px solid #FFCDCD;
	background-color: #dd5555;
	width:10px; height:10px;
}



/* node description */
.timelineFlat .t_node_desc {
	white-space: normal !important;
	top:-50px;
	top:0;
	opacity: 1;
	filter: alpha(opacity=0);
	left: 50%;
	color:#fff;
	display: inline-block !important;
	position: relative;
	transition:top 200ms, opacity 500ms;
	-webkit-transition:top 200ms, opacity 500ms;
	-moz-transition:top 200ms, opacity 500ms;

	/*MOD_0706*/
	text-align: middle;
}

.timelineFlat a.t_line_node:hover .t_node_desc {
	top:0;
	opacity: 1;
	filter: alpha(opacity=100);
}

.timelineFlat .t_node_desc span {
	white-space: nowrap;
	margin-left: -50%;
	margin-right: 50%;
	margin-top: -16px;
	display: block !important;
	padding:8px;
	border-radius: 3px;
	background: white;
	border: 1px solid #D5DCE1;
	position: relative; left:50%;
	color:grey;

/*0628_MOD*/
	margin-top:-100px;
	vertical-align: middle;
}

/*0705_MOD*/
/*a.t_line_node.active .t_node_desc span{
	border: 1px solid #dd5555;
}*/

/*little triangle or line*/
/*.timelineFlat .t_node_desc span:after {
	content: "";

	display: block;
	position: absolute;
	bottom: -10px;

	left:50%;


	width:1px; height:100px;
	background-color: #dd5555;
	top:24px;
	z-index:-4;
}*/

.context_img{max-width:50px;max-height: 30px;vertical-align: middle;}


.timelineFlat #t_line_left,
.timelineFlat #t_line_right {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor:pointer;
	top:39px;
	width:14px;
	height:21px;
	font-size: 21px;
	color: #b7b6b6;
	position: relative;
}

.timelineFlat #t_line_left:hover,
.timelineFlat #t_line_right:hover {
	color: #dd5555;
}

/* line arrow left */
/*Lu: 08-27-2015 hide the arrow on the left of timeline*/
.timelineFlat #t_line_left {
	left:-30px;
	display:none;
}
.timelineFlat #t_line_left:after {
	content: "\f104";
	position: absolute;
	right: 0;
	top:0;
}


/* line arrow right */
/*Lu: 08-27-2015 hide the arrow on the right of timeline*/
.timelineFlat #t_line_right {
	right:-30px;
	display:none;
}
.timelineFlat #t_line_right:after {
	content: "\f105";
	position: absolute;
	left: 0;
	top:0;
}

.timelineFlat {
	display:none;
}

.timeline_items_wrapper {
	position: relative;
	width: 100%;
	margin: 10px 0;
}

/* items container */
.timelineFlat .timeline_items {
	padding:0;
}

/* single item (margines set from javascript) */
.timelineFlat .item {
	width:410px;
	height:550px;
	background:#eaeaea; 
	color:#777777;
	font-size:14px;
	font-weight:200;
	line-height:15px;
	position: relative;
/*MOD_0706*/
	height:700px;
}
.vertical_line{
	border-left:1px dashed #a0a0a0;
	display:block; 
	position:absolute; 
	left:0; bottom:-27px;
	padding:0; 
	overflow:hidden; 
	width:1px; 
	z-index:-4;
}
.active .vertical_line{
	border-left:1px dashed #dd5555;
}
.timelineFlat .item.item_node_hover:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #dd5555;
	width: 100%;
	z-index: 2;
	top:0;
	left:0;
}
.timelineFlat .item.item_node_hover:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	z-index: 2;
	top:0;
	left:50%;
	margin: 4px 0 0 -6px;
	border: 6px solid transparent;
	border-top: 6px solid #dd5555;
	
}
/*MOD_0710*/
.timelineFlat .item.item_node_active:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #dd5555;
	width: 100%;
	z-index: 2;
	top:0;
	left:0;
}
.timelineFlat .item.item_node_active:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	z-index: 2;
	top:0;
	left:50%;
	margin: 4px 0 0 -6px;
	border: 6px solid transparent;
	border-top: 6px solid #dd5555;
	
}



/* ----- content - non-plugin elements ----- */
.timelineFlat .item img {
	margin-top:0;
	width:100%;
}

.timelineFlat .item h2 {
	font-family: Montserrat;
	padding: 20px 20px 10px;
	margin: 0;
	font-size:12px;
	line-height:12px;
	color: #dd5555;
	
}
.timelineFlat .item span{
	display:block;
	margin:0px 20px 10px;

/*MOD_0707*/
/*	height:75px;*/
}
.timelineFlat .item .read_more {
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
    float: right;
    color: #ffffff;
    cursor: pointer;
    margin: 0 20px 20px;
    margin-top: 65px;
    margin-right: 20px;
    border-radius: 3px;
    background: #dd5555;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;

    /*MOD_0713: reduce top margin*/
    margin-top:20px;
}
.timelineFlat .item .read_more:hover {
	background:#f75f5f;
}
/* ----------------------------------------- */

/* item details (margines set from javascript) */
.timelineFlat .item_open {
	width:410px;
	height: 550px;
	background:#eaeaea; 
	position:relative;
	color:#777777;
	z-index:2; 

/*MOD_0707*/
	height:700px;
	
}

.timelineFlat .item_open h2 {
	font-family: Montserrat;
	margin:0 0 10px;
	padding-top:0;
	font-size:12px;
	line-height:12px;
	color: #dd5555;
}

/* item details content wrapper (used for animation - shuld have same width as .item_open) */
.timelineFlat .item_open_cwrapper {
	width:410px;
	height:100%;
}

.timelineFlat .item_open_content {
	width:100%;
	height:100%;
	position:relative;
}

.timelineFlat .item_open_content .ajaxloader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -100px;
	
}

/* ----- content - non-plugin elements ----- */
.timelineFlat .timeline_open_content {
	padding:20px;
}
.timelineFlat .mCSB_container {
	margin-right: 16px;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar  {
	background: #dd5555;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	color:#f75f5f;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
	background: #aaaaaa;
}
.timelineFlat .mCustomScrollBox > .mCSB_scrollTools {
	width: 8px;
}
.timelineFlat .item_open .t_close {
	position:absolute;
	top:20px;
	right:16px;
	padding:0 2px 2px 2px;
	width: 12px;
	height: 12px;
	font-size:16px;
	line-height: 12px;
	color: #dd5555;
	cursor:pointer;
	z-index:2;
	text-align: center;
	transition:color 300ms;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
}
.timelineFlat .item_open .t_close:hover {
	color:#f75f5f;
}
/* ----------------------------------------- */

/* left/right controles */
.timelineFlat .t_controles {
	margin:0;
}

.timelineTouch.timelineFlat .t_left,
.timelineTouch.timelineFlat .t_right {
	display: none;
}

.timelineFlat:hover .t_left,
.timelineFlat:hover .t_right {
	opacity: 1;
	filter: alpha(opacity=100);	
}

.timelineFlat .t_left,
.timelineFlat .t_right {
	position: absolute;
	display:block;
	height:100%;
	width:75px;
	margin:0;
	cursor:pointer;
	top:0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);	
	transition:background-color 300ms, opacity 300ms;
	-webkit-transition: background-color 300ms, opacity 300ms;
	-moz-transition: background-color 300ms, opacity 300ms;
}
.timelineFlat .t_left,  
.timelineFlat .t_left:hover:active {
	left:0;
	background: rgba(255,255,255, 0.5) url('../images/timeline/clean/blck-arrow-left.png') no-repeat center center;
}
.timelineFlat .t_left:hover {
	background: rgba(255,255,255, 0.7) url('../images/timeline/clean/blck-arrow-left.png') no-repeat center center;
}

.timelineFlat .t_right, 
.timelineFlat .t_right:hover:active{
	right:0;
	background: rgba(255,255,255, 0.5) url('../images/timeline/clean/blck-arrow-right.png') no-repeat center center;
}

.timelineFlat .t_right:hover {
	background: rgba(255,255,255, 0.7) url('../images/timeline/clean/blck-arrow-right.png') no-repeat center center;
}

/* -----------------------------------------------------------------------*/
/* ------------------------------ RESPONSIVE -----------------------------*/
/* -----------------------------------------------------------------------*/



/* --- 768px --- */
@media screen and (max-width:980px) {
	.timelineFlat .timeline_line {
		width:680px;
	}
	
	.timelineFlat .t_line_view {
		width:680px;
	}
	
	.timelineFlat .t_line_m {
		width: 338px;
	}
	.timelineFlat .t_line_m.right {
		left: 339px;
		width: 339px;
	}
}


/* --- 610px --- */
@media screen and (max-width:767px) {
	
	.timelineFlat .timeline_line {
		width:530px;
	}
	
	.timelineFlat .t_line_view {
		width:1060px;
	}
	
	.timelineFlat .t_line_m {
		width: 528px;
	}
	.timelineFlat .t_line_m.right {
		left: 530px;
		width: 528px;
	}
	
	.timelineFlat .t_line_node span {
		
	}
	.timelineFlat .t_node_desc {
		font-size:8px;
	}
	.timelineFlat .t_line_m.right .t_node_desc {
		right:auto;
		left:0;
	}
}


/* --- 300px --- */
@media screen and (max-width:609px) {
	.timelineFlat .timeline_line {
		width:240px;
	}
	
	.timelineFlat .t_line_view {
		width:480px;
	}
	
	.timelineFlat .t_line_m {
		width: 238px;
	}
	.timelineFlat .t_line_m.right {
		left: 240px;
		width: 238px;
	}
	
	.timelineFlat .item_open {
		width:280px;
		height:390px;
	}
	.timelineFlat .item_open img {
		max-width:280px;
	} 
	.timelineFlat .item_open_cwrapper {
		width:280px;
	}
}

@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebas/bebasneue-webfont.eot');
    src: url('fonts/bebas/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebas/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebas/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    src: url('fonts/ptsans/pts55f-webfont.eot');
    src: url('fonts/ptsans/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptsans/pts55f-webfont.woff') format('woff'),
         url('fonts/ptsans/pts55f-webfont.ttf') format('truetype'),
         url('fonts/ptsans/pts55f-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:#313131;
	margin:10px 0;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:22px;
}
h4 {
	font-size:20px;
}
body {
	background:white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-size:14px;
	font-weight:200;
	margin:0;
	text-align:center;
}
a {
	text-decoration:none;
	color:#dd5555;
}

a img {
	border:0;
}
.clear {
	clear:both;
}
.half_page {
	width:460px;
	float:left;
}

.half_page.first {
	margin-right:20px;
}

.selectors {
	text-align:center;
	margin:20px;
}
.selectors a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-decoration:none;
	color:#313131;
	font-size:34px;
	margin:10px;
}
.selectors a.active,
.selectors a:hover {
	color:#dd5555;
}

a.image_rollover_bottom,
a.image_rollover_right,
a.image_rollover_top,
a.image_rollover_left
{
	margin:0;
 	display:block;
	position:relative;
	overflow:hidden;
}

a.image_rollover_bottom img,
a.image_rollover_right img,
a.image_rollover_top img,
a.image_rollover_left img {
	display:block;
}
.image_roll_zoom {
	display:inline-block;
	width:100%;
	height:100%;
	position:absolute;
	background:url(../images/zoomIn.png) no-repeat center center;
}
.image_roll_glass {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url('../images/glass.png') repeat;
}


/* ------------------------ help --------------------------------- */


.help {
	width:960px;
	text-align:left;
	margin:0 auto;
}

.help p {
	margin:10px 0;
}

.help h2{
	margin:40px 0 20px 0;
	font-size:32px;
}

.help ol {
	padding-left:20px;
}

.big_image {
	margin-left:-120px
}

pre {
	border: solid 1px #dddddd;
	font-size: 11px;
	color: blue;
	margin: 10px 0;
	padding:10px;
	background: #f2f2f2;
}
code {
	font-size:1.2em;
	color: #008099;
}

.red { color:#c30000;}
.green {color:#1c9600;}
.orange {color:#c17b00;}
.purple {color:#b100c1;}
.blue {color:#1f08c9;}

table {
	border: solid 1px #dddddd;
	background:#fff;
	margin:10px 0;
}
th {
	padding:10px;
    background: #dddddd;
}

td {
	padding:10px;
    background: #f2f2f2;
}

/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.1;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/lightbox/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/lightbox/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}
/*light-2*/
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
/*dark-2*/
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-112px 0;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-112px -20px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-120px -40px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-120px -56px;
}
/*light-thick*/
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-16px 0;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-16px -20px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-20px -40px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-20px -56px;
}
/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/*light-thin*/
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
/*dark-thin*/
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}